:root {
  --font-poppins: 'Poppins';

  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --bg-primary: #f9f9fb;
  --bg-secondary: #fff;

  --color-primary: dodgerblue;
  --color-hover: #145597;
  --color-secondary: orange;

  --text-primary: #000;
  --text-success: #22bb33;
  --text-danger: #dc3545;

  --shadow-light: 0 1px 3px rgb(0 0 0 / 0.1);
  --shadow-medium: 0 4px 10px rgb(0 0 0 / 0.12);
  --shadow-strong: 0 8px 20px rgb(0 0 0 / 0.15);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  font-size: var(--text-md);
  background-color: var(--bg-primary);
}

main {
  padding: 1rem 1.5rem;
}
